/* Reset de Links (para tirar o azul sublinhado que aparece na sua imagem) */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

/* Forçar o Fundo e a Bandeirinha */
body {
    background-color: #fffcf5 !important;
    margin: 0;
}

.bandeirinhas {
    background-color: #e67e22;
    height: 40px;
    width: 100%;
    /* O clip-path faz o desenho de "serra" no topo */
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 95% 100%, 90% 70%, 85% 100%, 80% 70%, 75% 100%, 70% 70%, 65% 100%, 60% 70%, 55% 100%, 50% 70%, 45% 100%, 40% 70%, 35% 100%, 30% 70%, 25% 100%, 20% 70%, 15% 100%, 10% 70%, 5% 100%, 0% 70%);
}

/* Melhorando a visualização dos botões que aparecem cinzas na imagem */
button {
    cursor: pointer;
    border: none;
    background-color: #e67e22;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
}
